body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.focus {
  color: cornflowerblue;
  font-weight: bold;
}

.hasFirstIndent {
  margin-left: 5%;
}

.hasSecondIndent {
  margin-left: 10%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.reference {
  color: dimgrey;
}

.root {
  margin-right: 20px;
  margin-left: 20px;
}
